/* header section */

.header-title {
    font-family: 'Work Sans';
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
}

.header-description {
    font-family: 'Work Sans';
    text-align: right;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 60px;
}

.O {
    color: orangered;
}

/* failure section */

.failure-image {
    width: 1072px;
    height: 723.3px;
    left: 206px;
    top: 939px;
    margin-right: 200px;
}

.failure-content {
    font-family: 'Work Sans';
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
}

.failure-image {
    margin-left: 206px;
}

/* My plans */

.my-plan{
    margin-bottom: 100px;
    margin-left: 180px;
    margin-right: 90px;
}
.plans {
    display: flex;
    justify-content: space-around;
    
}

.plan-title {
    text-align: center;
    font-family: 'work sans';
    margin: 100px;
    font-weight: 900;
    font-size: 40px;
    font-weight: bold
    color: #151414;
    
}

.plan-title-text {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
   
}

.plan-description {
    color: #737272;
    text-align: center;
    font-weight: 500;

    font-family: 'Work Sans';
   
}

.icons {
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    margin-left: 20px;
}

.icons1 {
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    margin-left: 90px;
}


/* call now image */

.image1 {
    padding-left: 230px;
}

.image2 {

    padding-left: 230px;
    position: absolute;
    padding-top: 0px;
}

.call-title {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    padding-left: 66px;
    top: 2240px;
    color: white;
}

.call-button {
    
    /* width: 160px;
height: 64px; */
    left: 310px;
    top: 2320px;


    
    position: absolute;
    width: 170px;
    height: 64px;
    border-radius: 6px;
    font-family: 'Work Sans';
    font-weight: 600;
    color: #F15B22;
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    text-align: center;
}

/* contact section */

.contact {
    display: flex;
    gap: 300px;
    background: black;
    padding: 130px;
    margin-top: 100px;

}

.contact .section-title-sub {
    text-align: left;
    color: white;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 25px;
    margin-top: 50px;
}

.input-mail {
    width: 325px;
    height: 64px;
    background-color: black;
    border-color: white;
    border-radius: 5px;
    padding-left: 20px;


}

.subscribe-button {
    margin-top: 20px;
    position: absolute;
    width: 170.11px;
    height: 64px;
    border-radius: 6px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
}


/* address section */

.section-title-contact {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 45px;
    color: white;
}

.contact-text {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.contact-box{
    margin-left: 130px;
width: 485px;
height: 317px;
}
.subscribe-box{
    padding-right: 0px;
}

.icons-social{
  padding-right: 20px;
}